body{
    background-color: rgb(195, 190, 190);
    margin: 0px;
}
main {
    margin: 1.5%;
}

h1 {
    font-size: 60px;
    text-align: center;
}
p.intro {
    text-align: center;
    font-size: 20px;
    padding: 20px;
}
ul.menu-links {
    color: black;
    text-decoration: none;
    border: 0.1cm solid #000;
    list-style: none;
    padding: 2%;
    display: flex;
    justify-content: center;
    gap: 30px;
    
}
.menu-links li{
    text-decoration: none;
    display: inline;
    font-size: 30px;

}
@media (max-width: 600px) {
    .menu-links {
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    h1 {
        font-size: 1.5em;
    }
    .intro {
        font-size: 1em;
    }
}
p.marca {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin: 0;
    padding: 8px 0;
}
p.info {
    font-size: 20px;
    text-align: center;
}
div.formulario {
    text-align: center;
    margin-top: 20px;
    padding-top: 1%;
}
label {
    font-size: 20px;
}
textarea {
    width: 30%;
}
a.forms {
    font-size: 20px;
    text-align: center;
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 10px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
a {
    color: black;
    text-decoration: none;
}