body{
    background-color: rgb(195, 190, 190);
    margin: 0px;
}
main {
    margin: 1.5%;
}

h1 {
    font-size: 60px;
    text-align: center;
}
p.intro {
    text-align: center;
    font-size: 20px;
    padding: 20px;
}
.menu-links {
    border: 0.1cm solid #000;
    list-style: none;
    padding: 2%;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.menu-links li{
    display: inline;
    font-size: 20px;
}
@media (max-width: 600px) {
    .menu-links {
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    h1 {
        font-size: 1.5em;
    }
    .intro {
        font-size: 1em;
    }
}
p.marca {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin: 0;
    padding: 8px 0;
}