body{
    background-color: rgb(195, 190, 190);
}
h1 {
    font-size: 60px;
    text-align: center;
}
p.intro {
    text-align: center;
    font-size: 20px;
    padding: 20px;
}
.menu-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.menu-links li{
    display: inline;
    font-size: 20px;
}
@media (max-width: 600px) {
    .menu-links {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    h1 {
        font-size: 1.5em;
    }
    .intro {
        font-size: 1em;
    }
}